:host {
  $color-gray: grey; // create _variables.scss
  .jumbotron {
    background-color: transparent !important;
  }

  .answerShowing {
    background-color: grey !important;
  }

  .answerHidden {
    background-color: transparent;
  }

  header {
    padding: 1rem;

    h3 {
      font-family: "oswald-bold";
    }

    p {
      margin-bottom: 0rem;
    }

    .button-icon {
      overflow: hidden;
      background-color: yellow;
      background-size: cover;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border: 0;
      padding: 0.1rem  0.2rem  0.2rem;

    }

    @supports not ( -moz-appearance:none ){
      .button-icon {
        padding: 0.2rem  0.2rem  0.2rem;
  
      }
    }


    @media only screen and (max-width: 576px) {
      p {
        margin-left: 1rem;
      }
    }
  }

  p {
    font-family: "oswald-light";
  }

  article {
    padding: 1rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  section {
    padding: 0;
  }

  footer {
    border-top: 1px solid;
  }
}
