:host {
  $color-gray: grey; // create _variables.scss

  header {
    //background-color: #808080;
    padding: 1rem;

    h3 {
      font-family: "oswald-bold";
    }

    p {
      margin-bottom: 0rem;
    }

    .button-icon {
      overflow: hidden;
      background-color: yellow;
      background-size: cover;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border: 0;
      padding: 0.2rem;
      align-content: center;
    }

    .answerShowing {
      background-color: $color-gray;
    }

    .answerHidden {
      background-color: transparent;
    }
  }

  p {
    font-family: "oswald-light";
  }

  article {
    padding: 1rem;
    overflow: hidden;
  }

  section {
    padding: 0;
  }

  footer {
    border-top: 1px solid;
  }
}
